.page-bottom-wrapper .region-bottom #block-menu-menu-footer-sub-menu li a:hover {
    color: #eaeaea;
}

body span.form-required{
  color: #5f5f5f;
}

.important a {
    color: #ffffff;
}

.hide-this{
  display: none !important;
}

/* Twitter feed adjustments */
.pane-block-31{
  margin-bottom: 4em;
}

#single-tweet-feed{
  margin-bottom: 5em;
}



#single-tweet-feed ul li .tweet{
  font-size: 16px;
}

@media (max-width: 500px){
  #single-tweet-feed ul li .user{
    padding: 20px;
  }
  #single-tweet-feed ul li .user span:nth-child(2n){
    bottom: 25%;
  }
  #single-tweet-feed ul li .user span:nth-child(3n){
    top: 75%;
  }
}

@media (min-width: 961px){
  #single-tweet-feed ul li .user{
    width: 22%;
  }
  #single-tweet-feed ul li .tweet{
    width: 65%;
  }
  #single-tweet-feed ul li .user span:nth-child(2n){
    bottom: 3%;
  }
  #single-tweet-feed ul li .user span:nth-child(3n){
    top: 96%;
  }

}

#single-tweet-feed ul li .tweet{
  padding-top: 16px;
}

#single-tweet-feed{
  padding-left: 0px;
  padding-right: 0px;
}

#single-tweet-feed .user{
  margin-left: 5px;
}

#single-tweet-feed ul .twitter-link{
  display: none;
}

.front .pane-block-1{
  width: 100%;
  max-width: 1120px;
  margin: 0 auto;
}

#single-tweet-feed ul li .timePosted{
  padding-top: 0px;
}

/* Hide second level nav for developing */
.not-logged-in #superfish-1 li.sf-depth-1 ul{
  display: none !important;
}

.nav-modal{
  display: none !important;
}

header.header #block-superfish-1 li.sf-depth-1 > a:after{
  content: none !important;
}

/* dropdown main menu styles */
body header.header #block-superfish-1 ul#superfish-1 .sfHover > ul{
  position: absolute !important;
  top: 50px !important;
  left: 17px !important;
  visibility: visible !important;
  opacity: 100 !important;
}
.sfHover > ul li.sf-depth-2{
  height: auto !important;
  margin-top: 0px !important;
  float: none !important;
}
.sfHover > ul li.sf-depth-2 a{
  font-size: 15px !important;
  font-size: 0.9375rem !important;
  min-height: auto !important;
  padding: 15px !important;
}
header.header #block-superfish-1 li.sf-depth-1 > ul > li:before,
header.header #block-superfish-1 li.sf-depth-1 > ul > li > a:after{
  content: none !important;
}
